<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Core 360 Automation Suite">
    <listeners>
        <listener class-name="main.utils.SuitListner"></listener>
    </listeners>
    <test name="Test Automation">
        <parameter name="browserName" value="chrome" />
        <classes>
            <class name="test.java.Login"/>
            <class name="test.java.ViolationSearch"/>
        </classes>
    </test>
</suite>